.jumbotron{
    background-color: #00B687;
    color: black;
    margin-top: 50px;
}

.card-fauno{
    flex: 1 300px;
    margin-top: 10px;
}

.btn-consulta{
    width: 100%;
    border-radius: 0px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(0, 131, 70);
    margin-bottom: 0px;
    margin-top: 10px;
    color: aliceblue;    
}

.footer-address-icon {
    padding-right: 10px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.tab-content{
    padding-top: 10px;
}