.jumbotron {
  background-color: #00A0B6;
  color: black;
  margin-top: 50px;
  margin-bottom: 5px; }

.card-fauno {
  flex: 1 300px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-consulta {
  width: 100%;
  border-radius: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #00A0B6;
  margin-top: 10px;
  margin-bottom: 0px;
  color: aliceblue; }

.footer-address-icon {
  padding-right: 10px; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.tab-content {
  padding-top: 10px; }
