$yellow: #00A0B6;
@mixin margenes ($stop, $bottom){
    margin-top:$stop;
    margin-bottom:$bottom
}


.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 5px);
}

.card-fauno{
    flex: 1 300px;
    @include margenes(10px, 0px);
}

.btn-consulta{
    width: 100%;
    border-radius: 0px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
    color: aliceblue;    
}

.footer-address-icon {
    padding-right: 10px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.tab-content{
    padding-top: 10px;
}